<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		WebPay
	</name>
	<settings>
		<variable>webpay_shop_id</variable>
		<name>Биллинг ID</name>
	</settings>
	<settings>
		<variable>webpay_shop_key</variable>
		<name>Секретный ключ</name>
	</settings>
	<settings>
		<variable>webpay_testmode</variable>
		<name>Режим оплаты</name>
		<options>
			<name>Тестовый режим</name>
			<value>1</value>
		</options>
		<options>
			<name>Рабочий режим</name>
			<value>0</value>
		</options>
	</settings>	
</module>
